<div class="container">
	<h1><?=$loja['nome_fantasia']?></h1>
	<?=$map['html'];?>
	
	<h3>
		<?php echo $loja['endereco_logradouro'].' '.$loja['endereco_numero'].', '.$loja['endereco_complemento'].' - '.$loja['endereco_bairro'].
		'<br />'.$loja['endereco_cidade'].'/'.$loja['endereco_estado'].'&nbsp;&nbsp;&nbsp;CEP: '.$loja['cep']; ?>
	</h3>
</div>