<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Conexao" value="Data Source=.\SQLEXPRESS; Initial Catalog=PrecoInfo; User Id=sa; Password=*27tiger"/>
    <!--<add key="Conexao" value="Data Source=localhost;Initial Catalog=PrecoInfo;Integrated Security=True"/>-->
  </appSettings>
</configuration>