<div class="container-narrow">
	<?=validation_errors('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button>', '</div>')?>
	<form class="form-horizontal" id="cadastro" method="post">
		<fieldset>
	  		<legend>Prestador de Serviços, cadastre-se</legend>
	  		<div class="control-group">
				<div class="controls" id="divPfPj">
					<input type="radio" id="radioPj" name="pf_ou_pj" value="pjur" checked="checked"> Pessoa Jurídica &nbsp;
					<input type="radio" id="radioPf" name="pf_ou_pj" value="pfis"> Pessoa Física
				</div>
			</div>
	  	  <div id="divPfPjCont">
	  	  	  <div class="control-group">
			    <label class="control-label" for="inputNomFant">Nome Fantasia</label>
			    <div class="controls">
			      <input type="text" id="inputNomFant" placeholder="Nome Fantasia" name="nome_fantasia" value="<?=set_value('nome_fantasia')?>" required> *
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputRazSoc">Razão Social</label>
			    <div class="controls">
			      <input type="text" id="inputRazSoc" placeholder="Razão Social" name="razao_social"  value="<?=set_value('razao_social')?>" required> *
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputCNPJ">CNPJ</label>
			    <div class="controls">
			      <input type="text" id="inputCNPJ" placeholder="CNPJ" name="cnpj"  value="<?=set_value('cnpj')?>" required> *
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputNome">Nome do Responsável</label>
			    <div class="controls">
			      <input type="text" id="inputNome" placeholder="Nome do Responsável" name="nome" value="<?=set_value('nome')?>" required> *
			    </div>
			  </div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="inputTel">Telefones de Contato</label>
		    <div class="controls">
		      <input type="text" id="inputTel" placeholder="Fixo" name="telefone1" value="<?=set_value('telefone1')?>" required> * (Fixo)
		    </div>
		    <div class="controls">
		    	<br />(insira "x" após o DDD caso seu celular possua 8 dígitos)
		      <input type="text" id="inputCel" placeholder="Celular" name="telefone2" value="<?=set_value('telefone2')?>" required> (Celular)
		    </div><br />
		    <div class="controls">
		      <input type="text" id="inputTel2" placeholder="Outro" name="telefone3" value="<?=set_value('telefone3')?>"> (Outro)
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputCep">CEP</label>
		    <div class="controls">
		      <input type="text" id="inputCep" placeholder="CEP" name="cep" value="<?=set_value('cep')?>">
		      <a href="#" class="btn btn-mini" id="limpaCep">Limpar</a>
		    </div>
		  </div><br />
		  <div class="control-group" style="margin-top: -20px;">
		    <label class="control-label" for="inputLogra">Logradouro</label>
		    <div class="controls">
		      <input type="text" id="inputLogra" placeholder="Rua / Avenida" name="endereco_logradouro" value="<?=set_value('logradouro')?>">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputNum">Número / Complemento</label>
		    <div class="controls">
		      <input type="text" class="input-small" id="inputNum" placeholder="Edifício" name="endereco_numero" value="<?=set_value('numero')?>">
		      <input type="text" class="input-large" id="inputComp" placeholder="Sala / Stand" name="endereco_complemento" value="<?=set_value('complemento')?>">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputBairro">Bairro</label>
		    <div class="controls">
		      <input type="text" id="inputBairro" placeholder="Bairro" name="endereco_bairro" value="<?=set_value('bairro')?>">
		    </div>
		  </div>
		  <div class="control-group" style="display:none;" id="controlGrpZona">
		  	<label class="control-label" for="inputZona">Região</label>
		  	<div class="controls" id="controlZona">
		  		
		  	</div>
		  </div>
		  <?php
		  	$estados = array(
						'AC' => 'AC', 
						'AL' => 'AL', 
						'AP' => 'AP', 
						'AM' => 'AM', 
						'BA' => 'BA', 
						'CE' => 'CE', 
						'DF' => 'DF', 
						'ES' => 'ES', 
						'GO' => 'GO', 
						'MA' => 'MA', 
						'MT' => 'MT', 
						'MS' => 'MS', 
						'MG' => 'MG', 
						'PA' => 'PA', 
						'PB' => 'PB', 
						'PR' => 'PR', 
						'PE' => 'PE', 
						'PI' => 'PI', 
						'RJ' => 'RJ', 
						'RN' => 'RN', 
						'RS' => 'RS', 
						'RO' => 'RO', 
						'RR' => 'RR', 
						'SC' => 'SC', 
						'SP' => 'SP', 
						'SE' => 'SE', 
						'TO' => 'TO' 
			); 
		  ?>
		  <div class="control-group">
		    <label class="control-label" for="inputCidade">Cidade / Estado</label>
		    <div class="controls">
		      <input type="text" class="input-xlarge" id="inputCidade" placeholder="Cidade" name="endereco_cidade" value="<?=set_value('cidade')?>">
		      <?=form_dropdown('endereco_estado', $estados, set_select('estado'), 'class="input-mini" id="inputEstado"');?>
		    </div>
		  </div>
		  <div class="control-group" style="display:none;" id="controlGrpRegiao">
		  	<label class="control-label" for="inputRegiao">Região</label>
		  	<div class="controls" id="controlRegiao">
		  		
		  	</div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="txtareaInstit">Texto Institucional</label>
		    <div class="controls">
		      <textarea cols="5" rows="3" id="txtareaInstit" name="texto_inst" placeholder="Escreva aqui o texto que aparecerá na sua página de apresentação."><?=set_value('texto_inst')?></textarea>
		    </div>
		  </div>
		  <hr />
		  <div class="control-group">
		    <label class="control-label" for="inputWebsite">Website</label>
		    <div class="controls">
		      <input type="text" id="inputWebsite" value="<?=set_value('website')?>" name="website" placeholder="http://www.exemplo.com">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">Email</label>
		    <div class="controls">
		      <input type="text" id="inputEmail" placeholder="Email" name="email" required> *
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">Senha</label>
		    <div class="controls">
		      <input type="password" id="inputPassword" placeholder="Senha" name="senha" required> *
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputPassword2">Repita sua Senha</label>
		    <div class="controls">
		      <input type="password" id="inputPassword2" placeholder="Repita sua Senha" name="validarsenha" required> *
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="txtareaTermos">Termos de Uso</label>
		    <div class="controls">
		      <textarea cols="5" rows="3" id="txtareaTermos" readonly="readonly"></textarea>
		      <label class="checkbox">
      			<input type="checkbox" id="chkbxTermos" name="concordo" required> Concordo com os termos de uso *
    		  </label>
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <div class="controls">
		      <button type="reset" class="btn">Limpar</button>
		      <button type="submit" class="btn btn-success">Enviar</button>
		      <br /><br />* campos obrigatórios para conclusão do cadastro
		    </div>
		  </div>
	  </fieldset>
	</form>
</div>