<div class="container-narrow">
    <h1>Obrigado!</h1>
    <h2 class="muted">Seu cadastro foi ativado!</h2>
    <p class="lead">Você já pode utilizar os serviços exclusivos para cadastrados oferecidos pelo PreçoInfo.</p>
    <p>Caso enfrente qualquer dificuldade, n&atilde;o hesite em contatar nosso <big><a @*href="<?=base_url('atendimento')?>"*@>Atendimento</a></big>.<span style="line-height: 1.6em;">&nbsp;O Pre&ccedil;oInfo agradece por sua parceria.</span></p>
</div>
