<div class="container-narrow">
    <h1>Obrigado!</h1>
    <h2 class="muted">Seu cadastro foi processado com sucesso.</h2>
    <p class="lead">Você receberá um Email no endereço de cadastro contendo um link para ativação da sua conta.</p>
    <p>Caso enfrente qualquer dificuldade, n&atilde;o hesite em contatar nosso <big><a @*href="<?=base_url('atendimento')?>"*@>Atendimento</a></big>.<span style="line-height: 1.6em;">&nbsp;O Pre&ccedil;oInfo agradece por sua parceria.</span></p>
</div>
