<div class="container-narrow">
    <h1>Desculpe!</h1>
    <h2 class="muted">Houve um problema no processamento da sua requisição. Por favor, tente novamente mais tarde</h2>
    <p>Caso enfrente qualquer dificuldade, n&atilde;o hesite em contatar nosso <big><a @*href="<?=base_url('atendimento')?>"*@>Atendimento</a></big>.<span style="line-height: 1.6em;">&nbsp;O Pre&ccedil;oInfo agradece por sua parceria.</span></p>
</div>
