@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="line">
  <div>
    <div class="prod-unico-ordenacao line">
      <div class="boxMenu">
        <div class="rightCol">Ordenado por:&nbsp;
          <select onchange="window.location.href=this.value">
            <option value="LINK DE ORDENACAO"> mais populares</option>
            <option value="LINK DE ORDENACAO">Maior preço</option>
            <option value="LINK DE ORDENACAO">Menor preço</option>
            <option value="LINK DE ORDENACAO">Produto (a-z)</option>
            <option value="LINK DE ORDENACAO">Produto (z-a)</option>
            <option value="LINK DE ORDENACAO">Produto com melhor avaliação</option>
            <option value="LINK DE ORDENACAO">Produto com pior avaliação</option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <div class="prod-unico line">
        <div class="unit size3of5">
          <div class="compare">
            <label>
              <input value="" class="check_proc" type="checkbox">
            </label>
          </div>
          <div class="imagem size1of4"> <a href="Link"><img class="bp_prevent_error resize100" height="100" width="100" alt="TITULO DO PRODUTO" src="URL DA IMAGEM"></a> </div>
          <div class="descricao">
            <p class="tituloProduto"> <a alt="TITULO DO PRODUTO" href="LINK DA DESCRICAO DO PRODUTO">TITULO DO PRODUTO</a> </p>
            <p class="avaliacaoEstrelas"> <span class="avaliacao-nota avaliacao-estrela-NUMERO ARREDONDADO DAS AVALIACOES DE 0 A 10">NOTA DAS AVALIACOES</span><span class="avaliacao-total"><a class="xi" href="LINK DE LISTAR AS OPNIOES">QUANTIDADE DE avaliações </a></span> </p>
            <ul class="caracProduto">
              <li> <strong>TITULO DE UMA CARACTERISTICA:</strong>&nbsp; DECRICAO&nbsp;</li>
            </ul>
          </div>
        </div>
        <div class="preco unit size1of5">a partir de<a href="LINK DE CONSULTA DO PRODUTO" title="Consultar" class="preco-de">VALOR MINIMO</a><span class="preco-ate">VALOR MAXIMO</span> </div>
        <div class="compare-abrir unit size1of5 lastUnit"> <a title="Compare preços " class="bt-compare pt_BR" href="LINK DA COMPARACAO DE PRECOS">DESCRICAO DA COMPARACAO DE PRECOS</a>
          <p>em&nbsp; <strong>QUNTIDADE DE LOJAS</strong>&nbsp;lojas</p>
        </div>
      </div>
    </div>
    <div>
      <div class="bd line"></div>
    </div>
    <div class="bp_pagination">
      <div class="pagination_inner">
        <div class="previous"> <span class="bp_btn gray disabled"><span class="inner">« Anterior</span></span> </div>
        <div class="next"> <a class="bp_btn gray" title="Próxima" href="LINK DA PROXIMA PAGINA"><span class="inner">Próxima »</span></a> </div>
        <div class="main">
          <ul class="pages_list">
            <li class="current"> <span class="inner">1</span> </li>
            <li> <a href="LINK DA PAGINA">2</a> </li>
            <li>...</li>
            <li> <a href="LINK DA PAGINA">37</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
