<div class="container-narrow" style="margin-top: 60px;">
    <div class="alert alert-block alert-info">
        <h3>Em breve!</h3>
        <p class="lead">Este recurso ainda está em desenvolvimento. Continue visitando o PreçoInfo.</p>
    </div>
</div>
