@*<?php
	if(preg_match('/(?i)msie/',$_SERVER['HTTP_USER_AGENT'])) $extensao = 'png'; //formatando extensão de arquivo de logotipo. PNG para IE e SVG para outros
	else $extensao = 'svg';
	if($this->uri->segment(1) == 'categorias' || !$this->uri->segment(1)) $pesquisar = 'produtos';
	else $pesquisar = 'produtos';
	
	/* FORECAST */
	$this->load->helper('xml');
	$xml = file_get_contents("http://api.openweathermap.org/data/2.5/weather?id=3448439&mode=xml&lang=pt&units=metric");
	$forecast = xmlstr_to_array($xml);
	$clima = $forecast['weather']['@attributes']['value'];
	$clima_cod = $forecast['weather']['@attributes']['number'];
	$clima_ico = $forecast['weather']['@attributes']['icon'];
	$temp_atual = intval($forecast['temperature']['@attributes']['value']);
	$temp_min = intval($forecast['temperature']['@attributes']['min']);
	$temp_max =intval( $forecast['temperature']['@attributes']['max']); 
	/* /FORECAST */
?>*@

<header>
    <section id="top-um" class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">
                @*<div class="pull-left hidden-phone" style="color: #eee; line-height: 40px; vertical-align: center;" title="<?=$clima?>">*@
                @*<small class="muted">min <?=$temp_min?>&deg;/ máx <?=$temp_max?>&deg;</small>&nbsp;&nbsp;*@
                @*<img src="<?=base_url('assets/ico/forecast/'.$clima_ico.'.png')?>" style="width: 20px;">*@
                @*<strong><?=$temp_atual?>&deg;</strong>&nbsp;&nbsp;*@
                <span style="color: #5B87C3;">SÃO PAULO</span>
            </div>
            <div class="pull-right">
                <ul class="nav hidden-phone" role="navigation">
                    @*<li><a href="<?=base_url('/termos-de-uso')?>" rel="bookmark">Termos de Uso</a></li>*@
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        @*<a href="<?=base_url('/atendimento')?>" rel="bookmark" class="dropdown-toggle" role="button" data-toggle="dropdown">Lojista </a>*@
                        <ul class="dropdown-menu" role="menu">
                            @*<li role="presentation"><a role="menuitem" href="<?=base_url('/duvidas-frequentes')?>" rel="bookmark">Aumente suas vendas</a></li>*@
                            @*<li role="presentation"><a role="menuitem" href="<?=base_url('/como-funciona')?>" rel="bookmark">Cadastramos seu produtos</a></li>*@
                            @*<li role="presentation"><a role="menuitem" href="<?=base_url('/nao-encontrou')?>" rel="bookmark">Dúvidas frequentes</a></li>*@
                            @*<li role="presentation"><a role="menuitem" href="<?=base_url('/fale-conosco')?>" rel="bookmark">Nossos planos</a></li>*@
                            @*<li role="presentation"><a role="menuitem" href="<?=base_url('/fale-conosco')?>" rel="bookmark">Porque anunciar no PreçoInfo</a></li>*@
                            @*<li role="presentation"><a role="menuitem" href="<?=base_url('/fale-conosco')?>" rel="bookmark">QuickCadastro</a></li>*@
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    @*	<?php if($this->auth->esta_logado()): ?>
								<li>
									<a href="<?=base_url('painel')?>" title="acesse o Meu PreçoInfo"><i class="icon-user icon-white"></i><?=$this->auth->get_usuario()?></a>
								</li>
								<li class="divider-vertical"></li>
								<li><a href="<?=base_url('/logout').'?redir='.current_url()?>" rel="nofollow"><i class="icon-signout icon-white"></i>&nbsp;&nbsp;Sair</a></li>
							<?php else: ?>
								<li><a href="<?=base_url('/cadastro')?>" rel="bookmark">Cadastre-se</a></li>
								<li class="divider-vertical"></li>
								<li><a href="#loginform" role="button" data-toggle="modal" rel="nofollow"><i class="icon-lock icon-white"></i>&nbsp;&nbsp;Login</a></li>
							<?php endif; ?>*@
                </ul>
            </div>
            <ul class="nav visible-phone">
                @*<?php if($this->auth->esta_logado()): ?>
							<li style="max-width: 60%;text-align: right;">
								<a><i class="icon-user icon-white"></i>&nbsp;
								<span class="muted"><?=$this->auth->get_usuario('nome')?></span> Minha Conta</a>
							</li>
							<li class="divider-vertical"></li>
							<li><a href="<?=base_url('/logout').'?redir='.current_url()?>" rel="nofollow"><i class="icon-signout icon-white"></i>&nbsp;&nbsp;Sair</a></li>
						<?php else: ?>
							<li><a href="<?=base_url('/cadastro')?>" rel="bookmark">Cadastre-se</a></li>
							<li class="divider-vertical"></li>
							<li><a href="#loginform" role="button" data-toggle="modal" rel="nofollow"><i class="icon-lock icon-white"></i>&nbsp;&nbsp;Login</a></li>
						<?php endif; ?>*@
            </ul>
        </div>
    </section>
    <section id="top-dois" class="row">
        <div class="container">
            <span id="logo-top" class="span4">
                <a href="@Url.Content("~/")">
                    <img src="@Href("~/Content/Images/logo_fundo_transp.svg")" alt="Logotipo PreçoInfo" />

                </a>
            </span>
            <span id="publicidade-top" class="pull-right hidden-tablet">
                <small>publicidade</small>
                <br />
                <img id="banner-header" src="http://placehold.it/650x85">
            </span>
        </div>
    </section>
    <section id="top-tres" class="row">
        <div class="container-narrow">
            <div class="navbar">
                <div class="navbar-inner">
                    <!-- botão abre menu mobile -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            @* <li <?=($this->uri->segment(1)=='pesquisa-de-precos') ? 'class="active"' : ''?>>
							    <a href="<?=base_url('/pesquisa-de-precos')?>" title="pesquisa de preços" rel="bookmark">PESQUISA DE PREÇOS</a>
							  </li>*@
                            <li class="divider-vertical"></li>
                            @*<li <?=($this->uri->segment(1)=='servicos') ? 'class="active"' : ''?>><a href="<?=base_url('/servicos')?>" title="prestadores de serviço" rel="bookmark">SERVIÇOS</a></li>*@
                            <li class="divider-vertical"></li>
                            @*<li <?=($this->uri->segment(1)=='usados') ? 'class="active"' : ''?>><a href="<?=base_url('/classificados')?>" title="classificados / usados">CLASSIFICADOS</a></li>*@
                            <li class="divider-vertical"></li>
                            @*<li <?=($this->uri->segment(1)=='brindes') ? 'class="active"' : ''?>><a href="<?=base_url('/brindes')?>" title="distribuição de brindes" rel="bookmark">BRINDES</a></li>*@
                        </ul>
                        <form class="navbar-search pull-right">
                            <div class="input-append">
                                @*<input type="text" class="input-large inputPesquisar" placeholder="Pesquise <?=$pesquisar?>">*@
                                <span class="add-on"><i class="icon-search"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
