@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<?php header($header); ?>
	<div id="container-narrow" style="text-align: center;">
		<hr />
		<div>
			<h1><?=$erro?></h1>
			<h4><?=$mensagem?></h4>
			<p><a href="<?=base_url()?>"><i class="icon-home"></i>&nbsp;Clique Aqui para voltar para a página inicial</a></p>
		</div>
		<hr />
	</div>
</body>
</html>